<!DOCTYPE html>
<html>
<head><title>Home</title></head>
<body>
<h2>Welcome <%= user.email %></h2>
<a href="/equipment/mechanical">Mechanical Equipment</a><br>
<a href="/equipment/electrical">Electrical Equipment</a><br>
<a href="/equipment/instrument">Instrument Equipment</a><br>
<a href="/logout">Logout</a>
</body>
</html>
