
    <!DOCTYPE html>
    <html>
    <head>
        <title>Mechanical Equipment</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Mechanical Equipment</h1>
        <div class="container">
    <a href="pump-101.html">MAIN LINE PUMP C/D</a>
<a href="valve-22.html">BOOSTER PUMP C/D</a>
<a href="valve-23.html">MOV</a>
<a href="valve-24.html">NRV</a>
<a href="valve-25.html">CF C/D</a>
<a href="valve-26.html">SUMP PUMP</a>
<a href="valve-27.html">CI PUMP</a>
        <a href="index.html">⬅ Back to Home</a>
        </div>
    </body>
    </html>
    