
    <!DOCTYPE html>
    <html>
    <head>
        <title>Pump-101 Details</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Main Line Pump C/D - Details</h1>
        <table>
            <tr><th>TAG</th><td>10-100-BP-001C/D</td></tr>
            <tr><th>MAKE</th><td>DMW CARPORATION TOKYO JAPAN</td></tr>
            <tr><th>Sr. No</th><td>1111426-1/2</td></tr>
            <tr><th>TYPE</th><td>DMF-SPK7-M</td></tr>
            <tr><th>CAPACITY</th><td>730 m3/Hr</td></tr>
            <tr><th>SPEED</th><td>2985 min^-1</td></tr>
            <tr><th>SUCTION PRESSURE TRIP</th><td>2.0 kg/cm2</td></tr>
            <tr><th>DISCHARGE PRESSURE TRIP</th><td>92.5 kg/cm2</td></tr>
            <tr><th>HEAD</th><td>1070 M</td></tr>
            <tr><th>STAGE</th><td>7</td></tr>
            <tr><th>SIZE</th><td>250 X 200</td></tr>
            <tr><th>DESIGN PRESSURE</th><td>136 Kg/cm2</td></tr>
            <tr><th>TEST PRESSURE</th><td>210 Kg/cm2</td></tr>
            <tr><th>DESIGN TEMP.</th><td>65 Degree</td></tr>
            
        </table>
        <div class="container">
            <a href="mechanical.html">⬅ Back to Mechanical Equipment</a>
            <a href="index.html">🏠 Home</a>

        </div>
    </body>
    </html>
    